
   <body leftmargin="0" topmargin="0" text="#000000" marginwidth="0" marginheight="0" bgcolor="#ffffff">
		
		<script>
		    //var thongbao=window.open("Popup.htm","_blank","height=150,width=318,noresize");
		</script>
		
		<!--"top.htm" -->
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody><tr>
				<td width="0" valign="top" bgcolor="#ffffff"><!--#"left.htm" --></td>
				<td valign="top">
					<table id="table3" width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td class="intext" valign="top" align="left">
								<table id="table4" width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody><tr>
										<td class="dateCopy" width="100%" valign="top" align="left">
											<table style="BORDER-COLLAPSE: collapse" valign="top" id="table5" width="100%" cellspacing="3" cellpadding="0" border="0">
											</table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>

					<p></p>
					<div align="center"><font size="5" color="#548dd4">Các chương trình ứng dụng web</font></div>
					<table>
						<tbody><tr>
							<!--table1 -->
							<td>
								<table class="chieurongdong">
									<tbody><tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://bidvapp.bidv.com.vn/">
												Hệ thống ứng dụng BIDVAPP </a>
										</td>
									</tr>
			
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.2.151:9080/OFACCSWeb/Ofacc">
												AML (Lưu&nbsp;ý chạy bằng trình duyệt&nbsp;IE) </a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://kondor.bidv.com.vn:50080/KondorWebTools/kondor_access_url.jsp">
												Kondor+ App </a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.133:50081/SubKondor/JSP/index.jsp">
												Kondor+ Report </a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://kondor.bidv.com.vn:50081/SubKondor/JSP/index.jsp">
												Kondor+ Report (990 Import Data) </a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
									<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
									<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.169:8080/login">
											BIDV SmartBanking - BackOffice</a></td>
									</tr>
									<tr style="line-height:0.4;">
									<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
									<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.124:9704/analytics">
											Báo cáo Phân tích Lợi nhuận đa chiều (MPA - OBIEE)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.111/SaoKeTKTG/Logon.aspx">
												Sao kê tài khoản tiền gửi</a></td>
									</tr>
									<tr style="line-height:0.4;">
							<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.71:9083/BITCINOUT/login.htm"> 
									Quản Lý Vào Ra - TT CNTT</a></td>
						</tr>
						<tr style="line-height:0.4;">
							<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://ipcc.bidv.com.vn:9999/portal"> 
									Hệ thống Contact Center</a></td>
						</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://vpdt.bidv.com.vn/_layouts/officeone/default.aspx">
												Chương trình Văn phòng điện tử</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108:8080/ReportUnicard">
												Báo cáo Unicard Report</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.109/BCTTQT"> Báo 
												cáo thanh toán quốc tế&nbsp;(Phân hệ tài trợ thương mại)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.17/BCTTQL/login.do"> Báo cáo thống kê theo Thông tư 31</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://bidvapp.bidv.com.vn/TT35/login.do"> Báo cáo thống kê theo Thông tư 35</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.68:9080/TT21/login.do">
												Hệ thống báo cáo thông tin quản lý(Tích hợp Báo cáo thống kê thông tư 21)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://erp.bidv.com.vn/"> 
												Giải pháp tài chính ERP</a>
										</td>
									</tr>
							
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.109/cbls"> Cấp 
												bù lãi suất</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://10.53.4.23:9443/BillPayAdmin/login.htm">
												Chương trình kho dữ liệu tthd cho chi nhánh</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://ebank.bidv.com.vn/BillPay/login.jsp">
												Chương trình kho dữ liệu tthd cho khách hàng</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/TKDT_NVNT/Administration/Login.aspx?PageId=0">
												Chứng chỉ tiền gửi dự thưởng – Niềm vui ngập tràn(ngừng triển khai) </a>
										</td>
									</tr>
								
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.110/ftp"> Điều 
												chuyển vốn nội bộ</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.130:9080/TFOnlineWAS/">
												Hỗ trợ kiểm tra chứng từ Tài trợ thương mại trực tuyến-TFOnline</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.7.9/dkt"> Đăng 
												kí phát hành thẻ qua Internet</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.49/bidv/"> eDocman 
												- BIDV</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.49/bidv-ttcntt/">
												eDocman - TTCNTT</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://192.168.226.21:8240/Payment">
												Gạch nợ Viettel với các chi nhánh đã triển khai ghạch nợ hóa đơn in sẵn</a> <i>(FireFox)</i></td>
									</tr>
								
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.2.147/GWWEB/Common/Main.aspx">
												Gateway Web</a></td>
									</tr>
								
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://bidvapp.bidv.com.vn/IQS2014/login.htm">
												Hệ thống thông tin, tra soát nội bộ IQS</a></td>
										<!--<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.203:9080/IQS2014/login.htm">
												Hệ thống thông tin, tra soát nội bộ IQS (mới)</a></td>-->
									</tr>
						
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.49.106:9083/HB">
												HomeBanking (Chi nhanh)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/HDLS_NC/Common/Login.aspx">
												Hoán đổi lãi suất</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.4.4/quyettoan/">
												Hỗ trợ Quyết toán</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://ibmbweb.bidv.com.vn:8084/ARXAL">
												IBMB: BackOffice cho cả Corporate và Retail</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://www.bidv.vn:82/CorpWeb/">
												IBMB: Corporate FrontOffice (Cho khách hàng&nbsp;doanh nghiệp)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://www.bidv.vn:81/EntlWeb/IbsJsps/orbilogin.jsp?Source=NewLogin">
												IBMB: Retail FrontOffice (Cho khách hàng cá nhân)</a></td>
									</tr>
									<!--<tr style="line-height:0.4;">
										<td>&nbsp;<img height="5" src="images/nut8.gif" vspace="1" width="4">&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://ibmbweb.bidv.com.vn:8083/tp/web/admin/index.jsp">
												IBMB: Mobile BackOffice</a></td>
									</tr>-->
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://ibmbweb.bidv.com.vn:8086/am5">
												IBMB: Isprint Admin</a></td>
									</tr>
									
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.2.118/lapctgd_nc/login.aspx">
												Lập chứng từ giao dich phiên bản nâng cấp (Dùng trên mọi trình duyệt).</a></td>
									</tr>
						
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://kmtt.bidv.com.vn:9080/KMTT/login.htm">
												Quản lý khuyến mại tập trung </a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.69/Login/Login.aspx?ReturnUrl=%2f">
									Quản trị tham số BIDV–MIS</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://10.53.5.20:9445/ibm/iis/igc/">
									Quản trị từ điển thuật ngữ BIDV-MIS</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.218/qlac"> Quản 
												lý&nbsp;ấn chỉ</a></td>
									</tr>
									<!--<tr style="line-height:0.4;">
							<td>&nbsp;<img height="5" src="images/nut8.gif" vspace="1" width="4">&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.66.104/bancas"> 
									Quản lý bảo hiểm BIC_104</a></td>
						</tr>-->
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.66.101/bancas"> 
												Quản lý bảo hiểm BIC_101</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.4.21:9080/BICWAS/index.htm"> 
												Quản lý doanh thu bảo hiểm BIC qua BIDV</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.218/QLHV"> Quản 
												lý hiện vật</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://cadencie.bidv.com.vn:9002/CADENCIE/servlet/LOGON">
												Phát hành và Quản lý thẻ Cadencie 7.4</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.9.1:9002/CADENCIE/servlet/LOGON">
												Phát hành và Quản lý thẻ Cadencie 7.4 (không qua DNS)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://phatmai.bidv.com.vn:10039/wps/myportal">
												Phát mại tài sản - Bán nợ</a></td>
									</tr>
									
								</tbody></table>
							</td>
							<!--table2 -->
							<td>
								
									&nbsp;
									
									&nbsp;
									<table>
							
									
									<tbody><tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.84:9080/sironaml"> Phòng chống rửa tiền - SironAML
										</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.49.107:9080/sironkyc"> Phòng chống rửa tiền - SironKYC
										</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.84:9080/kyc/login/external"> Phòng chống rửa tiền - SironKYC Questionaire
										</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.84:9080/amlanalysis/login/external"> Phòng chống rửa tiền - Siron Analysis 
										</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.84:9080/amlutil/SWAF/jsp/login.jsf"> Phòng chống rửa tiền - AMLUtil 
										</a></td>
									</tr>
							
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://qlns.bidv.com.vn/qlnstl">
												Quản lý nhân sự tiền lương</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.218/deposit/login.aspx">
												Quản lý tham số lãi suất tiền gửi</a></td>
									</tr>
					
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.2.187:8080/SignPlus/">
												Quản lý chữ ký SVS 1 và</a><a class="chitiet1" target="_blank" href="http://10.53.2.178:8080/SignPlus/">
												Quản lý chữ ký SVS 2</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.218/qlttcn"> Quản 
												lý thông tin chi nhánh</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.218/qltscctc/Default.aspx">
												Quản lý tài sản cầm cố thế chấp</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://qludtt.bidv.com.vn/wps/myportal">
												Quản lý ứng dụng tập trung</a></td>
									</tr>

									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/Batchrun%20Web/frmLogin.aspx">
												Quản lý, giám sát quá trình&nbsp;Batchrun hệ thống SIBS</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.7.10/BIDVReport">
												Master Report</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.7.31/SWE/">
												SWIFTEditor Nâng cấp (Khuyến nghị dùng FireFox) </a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://192.168.10.19:2443/swp/group/access">
												SWIFT Messenger and RMA </a></td>
									</tr>
																		
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.4.6/thigdv"> Thi 
												giao dịch viên trực tuyến</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://qludtt.bidv.com.vn/wps/portal">
												Thu chi hộ điện tử</a></td>
									</tr>
									
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/TKDT_KMTET_2017/Administration/Login.aspx?PageId=0">
												Tiết kiệm dự thưởng –Tết Yêu Thương</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/TKDT_Autumn/Administration/Login.aspx?PageId=0">
												Tiết kiệm dự thưởng –Gửi trọn niềm vui (Ngừng triển khai)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.49/TLBA"> Tiết 
												kiệm tích lũy bảo an</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/tktc_2013/">
												Tiết kiệm thẻ cào 2017</a></td>
									</tr>
			
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://salary.bidv.com.vn:9080/LUONGBIDV">
												Tính toán và quản lý dữ liệu lương, thu nhập tập trung</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.6/tthd"> Thanh 
												toán hoá đơn&nbsp;SIBS (không phải TTHĐ Online)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/ctkh"> Theo 
												dõi tình hình thực hiện chỉ tiêu, kế hoạch</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://qludtt.bidv.com.vn/wps/myportal"> Thông tin tín dụng tập trung</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.6/tptd"> Thu 
												phí tự&nbsp;động</a></td>
									</tr><tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.6:9087/Common/Login.aspx"> Thu 
												phí tự&nbsp;động - Trích nợ Visa mới</a></td>
									</tr><tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.5.41/TCS/"> Thu 
												ngân sách nhà nước (Chuyển thực hiện trên ctr Tài chính công theo CV 8064/BIDV-ĐCTC)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.49.106/TCC2016/">
												Tài chính công (TCC)</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.9.13/tracuuatm/Logon.aspx">
												Tra cứu thông tin khách hàng qua số thẻ ATM</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.109/tfc"> TRADE 
												FINANCE PLUS - TF+</a></td>
									</tr>
		
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://hpsm.bidvbank.bidv.com/SM/ess.do">
												Theo dõi yêy cầu hỗ trợ qua Web ESS HPSM</a></td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://ttltt.bidv.com.vn/TTLTT/Account/LogOn">
												Thanh toán lương tập trung </a>
										</td>
									</tr>					
									
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><%= link_to("Vấn tin dữ liệu lịch sử (SIBSINQ)", inq_sign_in_path, class: "chitiet1") %>
												</td>
									</tr>
									<tr style="line-height:0.4;">
							<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.150:902/Account/FrmLogin">Chương trình quản lý và giám sát rủi ro hoạt động</a></td>
						</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/phattrienthe">
												Sao kê thẻ tín dụng </a>
										</td>
									</tr>
									<!--<tr style="line-height:0.4;">
							<td>&nbsp;<img height="5" src="images/nut8.gif" vspace="1" width="4">&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.108/INThAM_TKTC_2013/Administration/Login.aspx?PageId=0">
									In thăm tiết kiệm thẻ cào dành cho KHPT 2013 </a>
							</td>
						</tr>-->
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://bctt.bidv.com.vn/ibmcognos">
												Hệ thống báo cáo COGNOS </a>
										</td>
									</tr>
									<!--<tr style="line-height:0.4;">
							<td>&nbsp;<img height="5" src="images/nut8.gif" vspace="1" width="4">&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://cognos.bidv.com.vn:9080/ServletGateway/servlet/Gateway">
									Hệ thống báo cáo COGNOS 1  </a>
							</td>
						</tr>
						<tr style="line-height:0.4;">
							<td>&nbsp;<img height="5" src="images/nut8.gif" vspace="1" width="4">&nbsp;</td>
							<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.71/ibmcognos">
									Hệ thống báo cáo COGNOS thí điểm  </a>
							</td>
						</tr>
						-->
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="https://dcrsaauthen01.bidvbank.bidv.com:7004/console-selfservice/">
												Xử lý lỗi Token RSA cho BDS/TF (Chỉ dùng trình duyệt IE)</a>
										</td>
									</tr>
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://10.53.3.23:3119/uploads/DocFiles/2._TLHD_dong%20bo%20token%20va%20doi%20passcode%20tinh.doc">
												Hướng dẫn xử lý lỗi token RSA cho BDS/TF</a>
										</td>
									</tr>
									
									<tr style="line-height:0.4;">
										<td>&nbsp;<%= image_tag("nut8.gif", style: "width: 4; vspace: 1; height: 5") %>&nbsp;</td>
										<td width="100%"><a class="chitiet1" target="_blank" href="http://hotrocntt.bidvbank.bidv.com:3119/">
												Web hỗ trợ</a></td>
									</tr>
									
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td width="0" valign="top" bgcolor="#ffffff"><!--"right.htm" --></td>
			</tr>
			<tr height="1">
				<td colspan="3"><%= image_tag("line_red.gif", style: "width: 100% height: 5") %></td>
			</tr>
			<tr>
				<td colspan="3"><!--"bottom.htm" --></td>
			</tr>
		</tbody></table>
